@define-color bg   #282828;
@define-color fg   #ebdbb2;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    color: @fg;
    padding: 0;
}


#workspaces,
#clock,
#battery {
    border-radius: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

window#waybar {
    background-color: @bg;
    border-radius: 0px;
}

tooltip {
    background: @surface0;
    border: 1px solid @lavender;
}
tooltip label {
    color: @text;
}

#workspaces{
    background-color: @fg;
    padding-left: 4px;
    padding-right: 4px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 3px;

    padding-left: 4px;
    padding-right: 6px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 1 1px #2b2b2b;
}

#workspaces button:hover{
    background-color: @teal;
    border-radius: 12px;
}
#workspaces button.focused,
#workspaces button.active {
    background: @yellow;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 8px;

    /*margin-left: 3px;*/

    padding-left: 5px;
    padding-right: 6px;
}











#network.ethernet {
    background-color: @lavender;
    padding-left: 8px;
    padding-right: 12px;
}

#network.linked {
  background-color: @lavender;
  padding-left: 8px;
  padding-right: 10px;
}

#network.disconnected {
  background-color: @lavender;
  padding-left: 8px;
  padding-right: 10px;
}

#battery {
    background-color: @blue;
    padding-left: 6px;
    padding-right: 6px;
}

#clock {
    background-color: @blue;
    padding-left: 6px;
    padding-right: 6px;
}
