@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    color: #24273a;
    padding: 0;
}

#custom-launcher,
#workspaces,
#tray,
#cpu,
#memory,
#mpris,
#clock,
#pulseaudio,
#backlight,
#network,
#battery,
#custom-power {
    border-radius: 12px;

    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

window#waybar {
    background-color: #24273a;
    border-radius: 12px;
}

tooltip {
    background: @surface0;
    border: 1px solid @lavender;
}
tooltip label {
    color: @text;
}

#custom-launcher {
    background-color: @green;

    margin-left: 4px;

    padding-left: 6px;
    padding-right: 11px;
}

#workspaces{
    background-color: @teal;
    padding-left: 4px;
    padding-right: 4px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 3px;

    padding-left: 4px;
    padding-right: 6px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 1 1px #2b2b2b;
}

#workspaces button:hover{
    background-color: @teal;
    border-radius: 12px;
}
#workspaces button.focused,
#workspaces button.active {
    background: @yellow;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 8px;

    /*margin-left: 3px;*/

    padding-left: 5px;
    padding-right: 6px;
}











#network.ethernet {
    background-color: @lavender;
    padding-left: 8px;
    padding-right: 12px;
}

#network.linked {
  background-color: @lavender;
  padding-left: 8px;
  padding-right: 10px;
}

#network.disconnected {
  background-color: @lavender;
  padding-left: 8px;
  padding-right: 10px;
}

#battery {
    background-color: @blue;
    padding-left: 6px;
    padding-right: 6px;
}

#clock {
    background-color: @blue;
    padding-left: 6px;
    padding-right: 6px;
}

#custom-power {
    background-color: @mauve;

    margin-right: 4px;

    padding-left: 7px;
    padding-right: 10px;
}